FRAMEWORK=hono
MONGODB_URI=
MOCKTEST_TURSO_DATABASE_URL=
MOCKTEST_TURSO_AUTH_TOKEN=
JWT_SECRET=
CASHFREE_TEST_APP_ID=
CASHFREE_TEST_SECRET_KEY=
CASHFREE_PROD_APP_ID=
CASHFREE_PROD_SECRET_KEY=
CASHFREE_USE_SDK=true
CF_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET_NAME=